.hero {
  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.27) 0%,
    rgba(84, 84, 212, 0.11) 100%
  );
  position: absolute;
  filter: blur(150px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 467px;
  /* height: 1233.793px; */
  height: 500px;
  transform: rotate(-54.374deg);
}

.hero-two {
  background: linear-gradient(
    180deg,
    rgba(251, 168, 28, 0.11) 0%,
    rgba(224, 86, 136, 0.06) 100%
  );
  position: absolute;
  filter: blur(150px);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  width: 467px;
  height: 500px;
  /* transform: rotate(-54.374deg); */
  overflow: hidden;
}
